.navbar,li,footer,body,p ,span,a{
	font-family: '微軟正黑體';
}
.h1, h1,h2,h3,h4,h5{
	font-weight: bold;
}
p{
	font-size: 1.2em;
	line-height: 1.6;
}
footer{
	background-color: rgba(0,0,0,0.7);
	padding: 2em;
	color: #998675;
	font-size: 0.7em;
}
footer a{
    color: #998675;
}
.navbar-wrapper{
	margin-top:20px;
}
.scrollToTop {
    color: #fcf8e3;
    background-color: #3535A8;
    position: fixed;
    font-size: 1.8em;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 1005;
    display: none;
    border-radius: 50%;
	/* border: 1px solid #F2B45A; */
    }
.nav-tabs {
    border-bottom: 1px solid #fcf8e3;
}
.tab-pane {
	padding: 20px;
	border-radius: 0px 0px 5px 5px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fcf8e3;
    border: 1px solid #fcf8e3;
    border-bottom: 1px solid #fcf8e3;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    color: #555;
    background-color: #fcf8e3;
    border: 1px solid #fcf8e3;
    border-bottom: 1px solid #fcf8e3;
}
.nobreak{
	display: inline-block;
}
.navbar-inverse{
	background-image:linear-gradient(to bottom,#ED701B 0,#ED701B 100%);
}
.table-bordered {
    border: 1px solid #fcf8e3;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border: 1px solid #fcf8e3;
}
a {
    color: #ffffff;
}
#form a{
    color: #000000;
    font-size: 0.8em;
}
.mfp-s-loading .mfp-arrow { 
   display: none;
}
fieldset {
    border: 1px groove #ffffff !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    box-shadow: 0px 0px 0px 0px #ffffff;
}
legend{
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
}
.error0.error1,.error2,.error3,.error4,.error5,.error6,.error7,.error8,.error9,.error10,.error11,.error12{
    color: red;
}
/* SVG */
.st0{
    fill:none;
    stroke:rgba(255,255,255,1);
    stroke-width:5;
    fill: transparent;
    transition: 0.4s;
    cursor: pointer
}
.st0:hover{
    fill: #fff;
    transform:translate(-2px,-2px)
}
.countyData {
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
}
.NumRed{
    color: #D54850;
    font-weight:600;
    font-size: 32px
}
.hrY{
    border-bottom: 1px solid #F2B45A;
}
.wellY{
    background: #fcf8e3;
    border-radius: 5px 5px 5px 5px;
}
.student{
    background-color:#998675;
    width: 50px;
    height:50px;
    border-radius: 50%;
    font-size: 28px;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    margin-right: 8px; 
}
.wellY2{
    border:3px solid #F2B45A;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.hrY2{
    border-color: #F2B45A !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-header{
    background-color:rgb(242, 180, 90);
    border-radius: 5px 5px 0px 0px
}